.cell-control {
    border: 1px solid #fdd;
    width: 50px;
    height: 50px;
    background-color: #ff91a4;
    text-transform: uppercase;
    color: #fff;
  }
  
.cell-control:hover {
border: 3px solid #fdd;
}